.presentacion
    width: 100%
    justify-content: center
    align-items: center
    font-size: clamp(24px, 4vw + 1rem, 48px)
    @media (max-width: 768px)
        margin-left: 2px
        margin-right: 2px
        width: 100%
.vivi
    font-size: 50px
    color: #ede2e2
    margin-left: 30px
    margin-top: 30px
    font-family: cursive

.parrafo-yoga

    margin-left: 50px
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    color: #f9f9f9
    @media (max-width: 768px)
        margin-left: 2px
        margin-right: 2px
        font-size: 10px

.tex
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: #f9f3f3
    font-size: 60px

.col-2
    background: url(/assets/images/portada-yoga-en-silla.png)

.p-1
    width: 100%
    font-size: 25PX
    font-style: justify
    text-align: center
    @media (max-width: 768px)
        width: 100%
.tex
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: #f9f3f3
    font-size: 60px

.col-2
    background: url(/assets/images/portada-yoga-en-silla.png)

.p-1
    width: 100%
    font-size: 25PX
    font-style: justify
    text-align: center
