@import 'variables'
@import 'media-queries'
@import 'movimientos'
@import 'transiciones'
@import 'cursos'

*
    margin: 0
    padding: 0
    box-sizing: border-box

.fondo-1
    background: radial-gradient(circle,rgba(230, 61, 28, 1) 26%, rgba(73, 70, 252, 1) 74%)
.fondo-2
    background: linear-gradient(90deg,rgba(224, 81, 34, 1) 10%, rgba(217, 128, 106, 1) 35%, rgba(59, 188, 184, 1) 48%, rgba(139, 111, 122, 1) 65%, rgba(55, 64, 230, 1) 84%)
.fondo-3
    background: linear-gradient(90deg,rgba(224, 81, 34, 1) 10%, rgba(217, 128, 106, 1) 35%, rgba(59, 188, 184, 1) 48%, rgba(139, 111, 122, 1) 65%, rgba(55, 64, 230, 1) 84%)
.fondo-a
    background: linear-gradient(90deg,rgba(224, 81, 34, 1) 10%, rgba(217, 128, 106, 1) 35%, rgba(59, 188, 184, 1) 48%, rgba(139, 111, 122, 1) 65%, rgba(55, 64, 230, 1) 84%)
.fondo-b
    background: linear-gradient(90deg,rgba(224, 81, 34, 1) 10%, rgba(217, 128, 106, 1) 35%, rgba(59, 188, 184, 1) 48%, rgba(139, 111, 122, 1) 65%, rgba(55, 64, 230, 1) 84%)
.fondo-c
    background: radial-gradient(circle,rgba(82, 63, 251, 1) 8%, rgba(217, 2, 45, 1) 95%)

.square
    background-color: rgb(248, 247, 246)
    display: grid
    grid-template-columns: 50px 250px 50px 250px 50px 250px 50px
    grid-template-rows: 50px 250px 50px 250px 50px 250px 50px
    align-content: center
    justify-content: center
.fra

    margin-top: 20px
    margin-left: 20px
    color: $gray-50
    font-size: 1.3em
    font-family: Verdana, Geneva, Tahoma, sans-serif

.caja0
    grid-column: 2/7
    grid-row: 2/3
    font-size: 25px
    color: rgb(20, 11, 1)

.caja1

    grid-column: 2/3
    grid-row: 4/5
    background-image: linear-gradient(0deg,
      rgba(0, 1, 0, 0.6),
      rgba(0, 1, 0, 0.6)
    ),    url("../assets/images/Reducción-estrés-ansiedad.png"); 

.caja2
    display: grid
    grid-column: 4/5
    grid-row: 4/5
    background-image: linear-gradient(0deg,
      rgba(0, 1, 0, 0.6),
      rgba(0, 1, 0, 0.6)
    ),    url("../assets/images/flexibilidad-fuerza.png");

.caja3
    display: grid
    grid-column: 6/7
    grid-row: 4/5
    background-image: linear-gradient(0deg,
      rgba(0, 1, 0, 0.6),
      rgba(0, 1, 0, 0.6)),    url("../assets/images/equilibrioy-coordinacion.png");

.caja4
    display: grid
    grid-column: 2/3
    grid-row: 6/7
    background-image: linear-gradient(0deg,
      rgba(0, 1, 0, 0.6),
      rgba(0, 1, 0, 0.6)
    ),    url("../assets/images/Claridad-mental.png");

.caja5
    display: grid
    grid-column: 4/5
    grid-row: 6/7
    background-image: linear-gradient(0deg,
      rgba(0, 1, 0, 0.6),
      rgba(0, 1, 0, 0.6)
    ),    url("../assets/images/sistema-inmunológico.png");

.caja6
    display: grid
    grid-column: 6/7
    grid-row: 6/7
    background-image: linear-gradient(0deg,
      rgba(0, 1, 0, 0.241),
      rgba(0, 1, 0, 0.6)
    ),    url("../assets/images/paz-interior.png"); 
.video-container
    display: flex
    align-items: center
    justify-content: center
    margin-top: 100px
    border-radius: 10px
    border: none
    box-shadow: 0 0 10px rgba(242, 12, 12, 0.2)

.sahumerio
    margin-left: 550px
    margin-top: 100px
    width: 100%
    max-width: 400px
    height: 300px
    border-radius: 10px
    border: none
    box-shadow: 0 0 10px rgba(242, 12, 12, 0.2)
    animation: moveDiagonal 6s infinite

    @keyframes moveDiagonal
        0%
            transform: translate(0, 0)

        25%
            transform: translate($move-distance, -$move-distance)

        50%
            transform: translate($move-distance * 2, 0)

        75%
            transform: translate(0, $move-distance)

        100%
            transform: translate(0, 0)
.container-fluid
    height: 300px
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 15%, rgba(253, 29, 29, 1) 72%, rgba(230, 164, 71, 0.89) 100%)
    font-size: 30px
    font-family: "Quintessential", serif
    color: #e0e1e9
    margin-left: 6000px
    gap: 200px
    .logo
        width: 90px
        height: auto

.portada

    height: 500px
    display: flex
    justify-content: center
    align-items: center
    width: 100%

.p-inicio
    background-image: url(../assets/images/portada.png)
    background-size: cover
    @include tablet
        height: 250px
        background-color: $colorado-deep
        background-image: none
.p-cursos
    width: 100%
    height: 500px
    background-image: url(../assets/images/02-cursos.png)
    background-size: cover
    @include tablet
        height: 250px
        background-color: $colorado-deep
        background-image: none
.p-retiros
    height: 500px
    background-image: url(../assets/images/retiros.jpg)
    background-size: cover
    @include tablet
        height: 250px
        background-color: $colorado-deep
        background-image: none

.p-yoga

    background-image: url(../assets/images/portada-clases.png)
    background-size: cover
    background-color: #ccc
    z-index: 9
    @include tablet
        height: 250px
        background-color: $colorado-deep
        background-image: none

.p-kundalini
    background-image: url(../assets/images/kundalini.png)
    background-size: cover
    @include tablet
        height: 250px
        background-color: $colorado-deep
        background-image: none

.p-yoga-en-silla
    background-image: url(../assets/images/portada-yoga-en-silla.png)
    background-size: cover
    z-index: 9
    @include tablet
        height: 250px
        background-color: $colorado-deep
        background-image: none
.nombre
    color: #f6f0f0
    font-family: 'Ephesis', cursive
    font-size: 120px

.presentacion
    background-color: $colorado-deep
    display: flex
    margin-right: 100px
    margin-top: 100px
    justify-content: center
    margin-left: 50px
    font-size: clamp(24px, 4vw + 1rem, 48px)

.vivi
    margin-left: 500px
    margin-bottom: 25px
    font-size: 4rem; /* equivalente a $font-size-5xl */
    letter-spacing: 1em
    animation: $move-duration
    font-size: 50px
    color: #fff

    @include tablet
        margin-left: 50px
        color: #061901

.respiracion

    color: #0c0101

@keyframes move
    0%
        transform: translateX(0)

    100%
        transform: translateX($move-distance)

.parrafo-yoga
    font-size: 20px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    color: #f4a460

    @include tablet
        margin-left: 25px
        margin-right: 5px
        color: #061901

.preguntas-frecuentes
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap; /* se adapta a pantallas pequeñas */
    align-content: wrap
    gap: 30px
    padding: 80px 20px
    margin-top: 80px; /* evita que se encime con el main */
    background: linear-gradient(90deg,rgba(224, 81, 34, 1) 10%, rgba(217, 128, 106, 1) 35%, rgba(59, 188, 184, 1) 48%, rgba(139, 111, 122, 1) 65%, rgba(55, 64, 230, 1) 84%)
    border-radius: 12px

.titulo-noticia
    font-size: 50px
    font-family: $font-cursive-handwritten
    margin-left: 300px
.subtitulo
    font-size: 25px
    font-family: $font-monospace
    margin-left: 300px
.cuerpo-1
    font-size: 25px
    font-family: $font-cursive-modern
    margin-left: 100px
    margin-right: 100px
.img-noticia
    margin-left: 500px
.preguntas-frecuentes .titulo
    font-family: $font-title-display
    font-weight: 400
    margin: 0 0 20px
    text-align: center
    font-size: $font-size-5xl
    color: $font-weight-extrabold
    letter-spacing: 2px
    -webkit-text-fill-color: #e5eee5ca
.parra
    color: #e1ece1
.flexbox-a
    display: flex
    flex-direction: column
    gap: 40px
    padding: 40px
    background: linear-gradient(90deg,rgba(224, 81, 34, 1) 10%, rgba(217, 128, 106, 1) 35%, rgba(59, 188, 184, 1) 48%, rgba(139, 111, 122, 1) 65%, rgba(55, 64, 230, 1) 84%)
    border: 1px solid #e11d1d
    color: black
.p-2
    margin-left: 400px
    @include tablet

        margin-right: 40px
        color: #061901

.pie
    gap: 10px
    margin-top: 500px
    height: 250px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    background: radial-gradient(circle,rgba(219, 159, 29, 1) 0%, rgba(227, 30, 69, 1) 100%)
    .cont
        display: flex
        justify-content: center
        align-items: center
        margin-top: 5px

        font-weight: 500
        line-height: 1,2
        color: $gray-200

    .d-flex
        display: flex
        align-items: center
        gap: 8px // Separación entre icono y texto
        padding: 10px 15px
        color: white
        text-decoration: none
        border-radius: 5px
        transition: all 0.3s ease
.navbar-collapse
    background-color: none
.dl,ol,ul
    background-color: none
    color: #fff
    .ul .li .a
        color: #fff

    .text-center
        font-size: 31px
        gap: 10px
.container .ul .li
    color: #0d0101

.navbar-nav
    background-color: transparent
    color: #2325
    .img-noticia
        margin-left: 400px
.conter-999
    margin-top: 50px

@media (max-width: 768x)
.p-2
    animation: none
    margin-left: 10px
.presentacion
    background-color: $colorado-wine
    display: flex
    margin-right: 5px
    margin-top: 5px
    justify-content: center
    margin-left: 5px
    font-size: clamp(24px, 4vw + 1rem, 48px)
    flex-direction: column

// 1. Movimiento horizontal simple
@keyframes move none
    0%
        transform: translateX(0)

    100%
        transform: translateX($move-distance)

.navbar-collapse
    width: 100%
    background: none
    backdrop-filter: blur(10px)
    border-radius: 15px
    padding: 20px
    margin-top: 15px
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37)
.img-noticia
    width: 80%
    height: auto
    margin-left: 4px
.titulo-noticia
    margin-left: 4px
    font-size: 30px
.subtitulo
    margin-left: 4px
    margin-right: 4px
    font-size: 20px
.cuerpo-1
    margin-left: 4px
    font-size: 20px

.parrafo-yoga

.dl,ol,ul

    background-color: #e4edf0

.container-fluid
    margin-right: 10px
    width: 100%
    height: auto

.nombre
    font-size: 50px
    margin-left: 35px
.cuad
    background-color: #e81c1c
